<style>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  vertical-align: top;
  max-width: 20%;
  max-height: 20%;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
}
</style>


<div class="container">
  <div class="img">
    <img src="../images/profile.jpg" alt="My Image">
  </div>
  <div class="text">
    <p> 
      My academic journey began with my first major in Software Engineering in 2006.
      After several years working as a programmer, I pursued my passion for linguistic studies at Allameh Tabataba'i University in Tehran, Iran, in 2015. 
      The integration of my expertise in both fields led to my collaboration on interdisciplinary work in computational linguistics at <a href ="https://www.linguistics.rub.de/"> Ruhr University Bochum </a> in 2017, focusing on Biscuit Conditionals. 
      I earned my Ph.D. in semantics-pragmatics from <a href ="https://www.ling.uni-konstanz.de/en/"> Konstanz University </a> in 2024. 
      <!-- with a dissertation titled "Bias Conditions in Polar Questions and Answers: A study of Bias Effects in Farsi". -->
      My visiting to UMass (Amherst) in fall 2023 enriched my academic experience. 
      My next chapter begins as a postdoctoral researcher at Bielefeld University, where I will collaborate on the <a href = "https://www.uni-bielefeld.de/fakultaeten/linguistik-literaturwissenschaft/forschung/projekte/crc1646/"> CRC project </a>, 
      continuing to explore the dynamic intersection of linguistics and technology.
    </p>
  </div>
</div>
