<style>
.about-container {
  display: flex;
  align-items: flex-start;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  border-radius: 8px;
}

.left-section {
  flex: 0 0 200px;
  margin-right: 20px;
  text-align: center;
}

.profile-pic img {
  border-radius: 12%;
  max-width: 180px;
  height: auto;
}

.info h2 {
  margin-top: 0;
}

.info p {
  margin: 10px 0;
}
</style>


<div class="about-container">
  <div class="left-section">
    <div class="profile-pic">
      <img src="../images/profile.jpg" alt="Maryam Mohammadi">
    </div>
    <div class="info">
      <p> Maryam Mohammadi </p>
      <p> Konstanz, Germany</p>
      <p> <a href="mailto:maryam.mohhammadi@uni-konstanz.de">maryam.mohhammadi@uni-konstanz.de</a></p>
    </div>
  </div>
  <div class="right-section">
    <p>
      My academic journey began with my first major in Software Engineering in 2006.
      After several years working as a programmer, I pursued my passion for language studies. 
      I returned to academia, earning a BA in English Translation from Qazvin University and an MA in Linguistics from <a href="https://atu.ac.ir/en">Allameh Tabataba'i University</a> (Tehran) in 2015.
      The integration of my expertise in both fields led to my collaboration on interdisciplinary work in computational linguistics at <a href ="https://www.linguistics.rub.de/"> Ruhr University Bochum </a> in 2017, focusing on <i>Biscuit Conditionals</i>. 
      I earned my Ph.D. in semantics-pragmatics from <a href ="https://www.ling.uni-konstanz.de/en/"> Konstanz University </a> in 2024 with a dissertation titled "<i>Bias Conditions in Polar Questions and Answers: A study of Bias Effects in Farsi</i>".
      My visiting to <a href="https://www.umass.edu/linguistics/"> UMass Amherst </a> in fall semester 2023 enriched my academic experience. 
      Now, I am a postdoc at <a href = "https://www.uni-bielefeld.de/fakultaeten/linguistik-literaturwissenschaft/forschung/projekte/crc1646/"> Bielefeld University  </a>, collaborating on the CRC project.
  </div>
</div>


<!--
    <p> 
     من تحصیلاتم رو با مهندسی نرم افزار در سال ۱۳۸۲ شروع کردم. بعد از سال ها کار در زمینه برنامه نویسی، تصمیم گرفتم به دنبال علاقه م به زبان برم.
      بنابراین از اول شروع کردم و لیسانس مترجمی از دانشگاه قزوین و بعد هم ارشد زبان شناسی رو از دانشگاه علامه در سال ۹۵ گرفتم.
      ترکیب دو رشته نرم افزار و زبان شناسی باعث شد من به سمت مطالعات بینا رشته ای زبان شناسی رایانشی برم. اولین تجربه م مشارکت در یک پروژه در دانشگاه بوخوم بود که روی جملات شرطی کار می کردیم.
      بعد از اون در دانشگاه کنستانز روی معنی شناسی-کاربرد شناسی پرس و پاسخ در فارسی کار کردم و دکترام رو سال ۱۴۰۳ گرفتم.
      سال ۱۴۰۲ برای فرصت مطالعاتی یک ترم یه دانشگاه امهرست بوستون رفتم که تجربه بسیار جالبی بود.
      در حال حاضر به عنوان پست داک در دانشگاه بیلفلد مشغول به کار هستم.
    </p>
-->
